/* https://coolors.co/3a1772-00a6fb-0582ca-ffc145-fffffb */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
        Arial, sans-serif;
    background-color: #FFFFFB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #00A6FB;
    overflow: hidden;
}

.navbar a {
    color: #FFFFFB;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #0582CA;
}

.navbar .logo {
    font-weight: bold;
    font-size: 24px;
}

.intro-text {
    text-align: center;
    padding: 50px 20px;
}

.card-set {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #00A6FB;
    color: #FFFFFB;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    text-align: center;
    max-width: 25%;
}

footer {
    margin-top: auto;
    background-color: #E0E0E0;
    text-align: center;
    padding: 10px 0;

}

a {
    color: #3A1772;
    text-decoration: none;
}