html, body {
    min-height: 100vh;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
body {
    margin: 0 auto;
    max-width: 1000px;
    width: 60%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #D4E4F7;
    color: #341C09;
    display: flex;
    flex-direction: column;
    
}
nav{
    text-align: center;
}

a {
    color: #236AB9;
}
a::before {
    content: "🔗 ";
}

h1, h2 {
    font-family: Verdana, sans-serif;
}



img {
    max-width: 40%;
    height: auto;
}

footer {
    margin-top: auto;
}


@media screen and (min-width: 981px) and (max-width: 1400px) {
    body {
        width: 70%;
    }
    img {
        max-width: 50%;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    body {
        width: 80%;
    }
    img {
        max-width: 60%;
    }
}

@media screen and (min-width: 370px) and (max-width: 600px) {
    body {
        width: 90%;
    }
    img {
        max-width: 80%;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}
thead {
    background-color: #236AB9;
    color: white;
    padding: 8px;
    border: 2px solid #000;
}
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    background-color: whitesmoke;
}
