<nav>
    <a class="link" href="/itis3135">ITIS3135</a> 
    <a class="link" href="https://github.com/tmeyers3-hue">GitHub</a> 
    <a class="link" href="https://webpages.charlotte.edu/tmeyers3/">CLT Web</a> 
    <a class="link" href="https://tmeyers3-hue.github.io/">Github.io</a> 
    <a class="link" href="https://www.linkedin.com/in/tristan-meyers-857536301/">LinkedIn</a>
    <a class="link" href="https://www.codecademy.com/profiles/tmeyers3">Codecademy</a>
    <a class="link" href="https://www.freecodecamp.org/tmeyers3">FreeCodeCamp</a>
    <p class="rights">Designed by <a href="/itis3135/meyerssoftware.online/index.html">Meyers Software</a> &copy; 2025</p>
</nav>